/** @format */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(241, 235, 235);
  border-radius: 20px;
}

::-webkit-scrollbar {
  color: white;
  background-color: rgba(3, 24, 3, 0.493);
}
body {
  background-color: black;
}
header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  color: white;
  position: relative;
}
header .bar {
  display: none;
}
header h1 {
  font-size: 50px;
  text-transform: uppercase;
}
header nav ul {
  height: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

header nav ul li a:hover {
  background-color: rgb(110, 110, 110);
  color: white;
  border-radius: 8px;
}

.parent {
  height: 83vh;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.parent aside {
  height: 100%;
  width: 20%;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 70px;
  justify-content: center;
}

.parent aside div a {
  text-decoration: none;
  color: white;
  padding: 0 0 0 20px;
}
.parent aside div .productdiv:hover {
  background-color: rgb(110, 110, 110);
  color: white;
  border-radius: 5px;
}

.producthover {
  background-color: rgb(145, 58, 58);
  color: black;
}

.producthover2 {
  background-color: black;
  color: white;
}

.parent aside .products {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* .products {
  visibility: hidden;
} */

.collection-box {
  width: 100%;
  height: 85vh;
  display: flex;
  overflow-y: scroll;
}
.collection {
  width: 100%;
  display: flex;
  /* display: none; */
}
.first-row,
.second-row,
.third-row {
  height: 100vh;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.items {
  width: 100%;
  height: 50%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}
.item-pic,
.item2-pic {
  border-radius: 15px;
}

.collection .first-row .item-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/bag2.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.collection .first-row .item2-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/bag1.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.collection .first-row .price-details {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 5px;
  text-transform: uppercase;
  align-items: center;
}
.price-btn {
  color: black;
  font-weight: 400;
  font-size: 15px;
}

.collection .second-row .item-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/bag3.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.collection .second-row .item2-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/bag2-removebg-preview.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.collection .second-row .price-details {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 5px;
  text-transform: uppercase;
  align-items: center;
}

.collection .third-row .item-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/bag2.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.collection .third-row .item2-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/bag3.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.collection .third-row .price-details {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 5px;
  text-transform: uppercase;
  align-items: center;
}

.collection-box .clothes {
  height: 100%;
  width: 100%;
  display: flex;
  display: none;
}

.clothes .first-row .item-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/cloth.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clothes .second-row .item-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/jacket1.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clothes .third-row .item-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/jacket3.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clothes .first-row .item2-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/jacket1.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clothes .second-row .item2-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/jacket2.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clothes .third-row .item2-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/cloth.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clothes .third-row .price-details {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 5px;
  text-transform: uppercase;
  align-items: center;
}
.clothes .second-row .price-details {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 5px;
  text-transform: uppercase;
  align-items: center;
}
.clothes .first-row .price-details {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 5px;
  text-transform: uppercase;
  align-items: center;
}

.collection-box .shoeslist {
  height: 100%;
  width: 100%;
  display: flex;
  display: none;
}
.shoeslist .first-row .item-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/shoes3.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shoeslist .second-row .item-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/shoes1.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shoeslist .third-row .item-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/shoe.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shoeslist .first-row .item2-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/shoes1.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shoeslist .second-row .item2-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/shoes2.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shoeslist .third-row .item2-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/shoes3.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shoeslist .third-row .price-details {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 5px;
  text-transform: uppercase;
  align-items: center;
}
.shoeslist .second-row .price-details {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 5px;
  text-transform: uppercase;
  align-items: center;
}
.shoeslist .first-row .price-details {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 5px;
  text-transform: uppercase;
  align-items: center;
}

.collection-box .glasslist {
  height: 100%;
  width: 100%;
  display: flex;
  display: none;
}
.glasslist .first-row .item-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/glass2.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.glasslist .second-row .item-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/glass3.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.glasslist .third-row .item-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/glass1.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.glasslist .first-row .item2-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/glass2.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.glasslist .second-row .item2-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/glass1.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.glasslist .third-row .item2-pic {
  height: 70%;
  width: 80%;
  margin: 3px;
  background-image: url(/content/img/glass3.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.glasslist .third-row .price-details {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 5px;
  text-transform: uppercase;
  align-items: center;
}
.glasslist .second-row .price-details {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 5px;
  text-transform: uppercase;
  align-items: center;
}
.glasslist .first-row .price-details {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 5px;
  text-transform: uppercase;
  align-items: center;
}

.collection-box .home {
  height: 100%;
  width: 100%;
  display: flex;
  border: 1px solid red;
}

.collection-box .home div {
  height: 100%;
  width: 50%;
  display: flex;
  border: 1px solid green;
}

.btnn button {
  color: black;
  width: 50%;
  height: 20px;
  text-transform: capitalize;
  margin-left: 10px;
  border-radius: 10px;
}

.welcome-background {
  height: 100vh;
  background-color: rgb(10, 10, 10, 0.9);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}
.welcome {
  background-color: white;
  width: 30%;
  font-size: 30px;
  border-radius: 20px;
  padding: 10px;
  text-transform: uppercase;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.welcome button {
  width: 20%;
}

.prodetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.cart_div {
  height: 100%;
  width: 100%;
  background: rgb(61, 52, 52, 0.5);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.cart {
  height: 100vh;
  width: 30%;
  background-color: white;
  box-shadow: 1px 1px 5px 5px rgb(173, 161, 161);
  margin-top: 20px;
  color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  align-items: center;
  background-color: rgb(17, 17, 16);
}

.nvc {
  text-transform: uppercase;
  font-size: 30px;
  color: white;
}
.close_cart {
  font-size: 20px;
  color: red;
  cursor: pointer;
}
.your-cart {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 20px;
}

.items_added {
  font-size: 17px;
  height: 20vh;
  padding: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  overflow: auto;
}
.items_add {
  font-size: 17px;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  gap: 20px;
}
.cart_image {
  height: 10vh;
  width: 20%;
  color: red;
  display: flex;
  justify-content: end;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
}
.cartdes {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cartname,
.cartprice {
  height: 3vh;
  width: 100%;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.cartbas {
  display: flex;
  align-items: center;
}
.cartbas a {
  color: white;
  text-decoration: none;
}

.nav_holder {
  display: flex;
  gap: 20px;
}

@media (max-width: 490px) {
  body {
    background-color: white;
    color: black;
  }
  header {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    color: white;
    background-color: black;
    position: relative;
  }
  header .bar {
    display: flex;
    font-size: 20px;
  }
  header nav {
    display: none;
  }
  header h1 {
    font-size: 30px;
    margin-left: 20px;
  }

  aside .profile {
    display: flex;
    padding: 20px;
    position: fixed;
    top: 0;
    gap: 150px;
  }
  .parent aside {
    display: flex;
    width: 100%;
    font-size: 20px;
    gap: 10px;
    transition: 1s;
    position: fixed;
    top: 0;
    left: -700px;
    z-index: 1;
    color: white;
    background-color: rgb(1, 1, 1, 0.5);
  }

  .aside-child {
    height: 100%;
    width: 60%;
    background-color: black;
    box-shadow: 2px 2px 10px white;
    font-size: 20px;
    gap: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .collection .first-row,
  .second-row,
  .third-row {
    display: flex;
    gap: 40px;
  }
  .collection .first-row .price-details {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    flex-direction: column;
    color: black;
    gap: 5px;
    text-transform: uppercase;
    align-items: center;
  }
  .collection .second-row .price-details {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    flex-direction: column;
    color: black;
    gap: 5px;
    text-transform: uppercase;
    align-items: center;
  }
  .collection .third-row .price-details {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    flex-direction: column;
    color: black;
    gap: 5px;
    text-transform: uppercase;
    align-items: center;
  }

  .clothes .first-row .price-details {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    flex-direction: column;
    color: black;
    gap: 5px;
    text-transform: uppercase;
    align-items: center;
  }
  .clothes .second-row .price-details {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    flex-direction: column;
    color: black;
    gap: 5px;
    text-transform: uppercase;
    align-items: center;
  }
  .clothes .third-row .price-details {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    flex-direction: column;
    color: black;
    gap: 5px;
    text-transform: uppercase;
    align-items: center;
  }

  .clothes .first-row,
  .second-row,
  .third-row {
    display: flex;
    gap: 40px;
  }

  .shoeslist .first-row .price-details {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    flex-direction: column;
    color: black;
    gap: 5px;
    text-transform: uppercase;
    align-items: center;
  }
  .shoeslist .second-row .price-details {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    flex-direction: column;
    color: black;
    gap: 5px;
    text-transform: uppercase;
    align-items: center;
  }
  .shoeslist .third-row .price-details {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    flex-direction: column;
    color: black;
    gap: 5px;
    text-transform: uppercase;
    align-items: center;
  }

  .shoeslist .first-row,
  .second-row,
  .third-row {
    display: flex;
    gap: 40px;
  }

  .glasslist .first-row .price-details {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    flex-direction: column;
    color: black;
    gap: 5px;
    text-transform: uppercase;
    align-items: center;
  }
  .glasslist .second-row .price-details {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    flex-direction: column;
    color: black;
    gap: 5px;
    text-transform: uppercase;
    align-items: center;
  }
  .glasslist .third-row .price-details {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    flex-direction: column;
    color: black;
    gap: 5px;
    text-transform: uppercase;
    align-items: center;
  }

  .glasslist .first-row,
  .second-row,
  .third-row {
    display: flex;
    gap: 40px;
  }

  .items {
    width: 100%;
    height: 40%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
  }
  .welcome {
    height: 15%;
    width: 99%;
    font-size: 25px;
  }
  .cart_div {
    height: 100%;
    width: 100%;
    background: rgb(61, 52, 52, 0.5);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .cart {
    height: 100vh;
    width: 90%;
    background-color: white;
    box-shadow: 1px 1px 5px 5px rgb(173, 161, 161);
    margin-top: 20px;
    color: black;
  }
}
